%table
  %tr
    %th
    %th Name
    %th Description
    %th Instructions
    %th Due Date
    %th Owner
    %th
    %th
    -@user.currently_borrowing.each do |borrow|
      %tr
        %td= image_tag(borrow.item.image)
        %td= borrow.item.name.titleize
        %td= borrow.item.description
        %td= borrow.item.instructions
        %td= borrow.item.available_until
        %td= link_to(borrow.owner.name, user_path(borrow.owner.id))
        -if borrow.pending == false
          %td= link_to("Return", "#", :class => "button radius small alert return")
        -else
          %td A verification has been sent to the owner
        %td= borrow.id
