%table
  %tr
    %th
    %th Name
    %th Description
    %th Instructions
    %th Borrower
    %th Time with Item
    -@auth.previously_lent.each do |borrow|
      %tr
        %td= image_tag(borrow.item.image)
        %td= borrow.item.name.titleize
        %td= borrow.item.description
        %td= borrow.item.instructions
        %td= borrow.borrower.name
        %td= "#{borrow.borrow_date} => #{borrow.return_date}"

