.row
  .large-12.columns
    %h1= "#{@auth.name}'s Account"

.row
  .large-5.large-centered.columns
    = link_to 'New Item', new_item_path, :remote => true, :class => 'button round tiny'
    #form

.row
  .large-12.large-centered.columns
    %h4 My Items
    #my_items
      = render 'items/users_items'

.row
  .large-12.large-centered.columns
    %h4 Currently Borrowing
    #borrowing_items
      = render 'currently_borrowing'

.row
  .large-12.large-centered.columns
    %h4 Currently Lending
    #lending_items
      = render 'currently_lending'

.row
  .large-12.large-centered.columns
    %h4 Previously Borrowed
    #borrowed_items
      = render 'previously_borrowed'

.row
  .large-12.large-centered.columns
    %h4 Previously Lent
    #borrowed_items
      = render 'previously_lent'