.row
  .large-2.columns#user_info
    #userimage= image_tag(@user.image.thumb.url)
  .large-10.columns
    %h1#username= "#{@user.name}'s Account"
    %p="Address: #{@user.address}"
    %p="Phone: #{number_to_phone(@user.phone)}"
    %p="Email: #{@user.email}"

.row
  .large-8.columns
    -if @user == @auth
      = link_to 'New Item', new_item_path, :remote => true, :class => 'button round tiny'
      #form

.row
  .large-12.large-centered.columns
    %h4 My Items
    #my_items
      = render 'items/users_items'

.row
  .large-12.large-centered.columns
    %h4 Currently Borrowing
    #borrowing_items
      = render 'currently_borrowing'

.row
  .large-12.large-centered.columns
    %h4 Currently Lending
    #lending_items
      = render 'currently_lending'

.row
  .large-12.large-centered.columns
    %h4 Previously Borrowed
    #borrowed_items
      = render 'previously_borrowed'

.row
  .large-12.large-centered.columns
    %h4 Previously Lent
    #borrowed_items
      = render 'previously_lent'