= form_for @item, :html => {:multipart => true}, :remote => true do |f|
  = f.text_field :name, :autofocus => true, :placeholder => 'Name'
  = f.label :image
  = f.file_field :image
  = f.text_field :remote_image_url
  = f.label :available_from
  = f.text_field :available_from
  = f.label :available_until
  = f.text_field :available_until
  = f.text_area :description, :placeholder => 'Description'
  = f.text_area :instructions, :placeholder => 'Instructions'
  = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button round alert tiny')
  = f.submit nil, :class => 'button round success tiny'