%h4 *Something Borrowed reminds you that we are not liable for any lost or stolen items.*
%h5= "Please contact the borrower, #{@borrow.borrower.name}, directly to resolve this issue."
%h5
  Email:
  %a{:href => "mailto:#{@borrow.borrower.email}"}= "#{@borrow.borrower.email}"
%h5
  Phone:
  = @borrow.borrower.phone