%table
  %tr
    %th
    %th Name
    %th Description
    %th Instructions
    %th Availability
    -@auth.items.each do |item|
      %tr
        %td= image_tag(item.image)
        %td= item.name
        %td= item.description
        %td= item.instructions
        %td= "#{item.available_from} => #{item.available_until}"
