%nav.top-bar
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li.active
        %a{:href => "/"} Home
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Items by Category
        %ul.dropdown
          - Category.order(:name).each do |category|
            %li= link_to category.name, category_path(category)

      %li.divider
    %ul
      %li.search
        %form#search_form
          %input{:type => "search", :id => 'search', :placeholder => 'Start your search here!'}
      %li.has-button
        %a.small.button{:href => "#", :id => 'search_button'} Search

    / Right Nav Section
    %ul.right
      %li.divider
      -if @auth.present?
        %li= link_to("Logout", login_path, :method => :delete)
        %li.divider
        %li= link_to("#{@auth.name}", user_path(@auth.id))
      -else
        %li= link_to("Login", login_path, :remote => true)
        %li.divider
        %li= link_to("Register", "#")
