%nav.top-bar
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li.active
        %a{:href => "/"} Home
      %li.divider
      %li
        %a{:href => "#"} Main Item 2
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Main Item 3
        %ul.dropdown
          %li
            %a{:href => "#"} Dropdown Level 1a

      %li.divider
    / Right Nav Section
    %ul.right
      -if @auth.present?
        %li= link_to("Logout", login_path, :method => :delete)
        %li.divider
        %li= link_to("#{@auth.name}", user_path(@auth.id))
      -else
        %li= link_to("Login", login_path, :remote => true)
        %li.divider
        %li= link_to("Register", "#")

