<!DOCTYPE html>
<html>
<head>
  <title>Somethingborrowed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE']}&sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div><h1 id="logo">Something Borrowed</h1></div>
  <div id="nav_holder">
    <%= render :partial => 'layouts/nav' %>
  </div>
  <div class="row">
    <div class="small-3 small-offset-9">
      <div id="login_form"></div>
    </div>
  </div>

<%= yield %>

</body>
</html>
